body {
    background: #fff;
    max-width: 100%;
    margin: 0 auto; 
    font-family: "Helvetica Neue", sans-serif;
    font-size: 17px;
    line-height: 1.5;       
}

a {
    text-decoration: none;
    color: black;
}

input:focus { outline: none; }

img { opacity: 0; }

/*------ header start ---------------------------------*/
header div {
    background-color: black;
    width: 100%;
    display: flex;
    margin: 0 auto;
}

.header_top{ position: fixed; }
.header_top div { display: inline; }
.header_top div h1 {
    color: #fff;
    text-align: center;
    font-size: 50px;
    margin: 20px auto 10px auto;
}

.search {    
    width: 285px;    
    margin: 25px 0 0 50px;
    float: left;
    height: 30px;
}
.search a {
    display: inline-flex;
    color: #fff;
}
.search img {
    width: 18px;
    height: 18px;
    margin: 3px 12px 0 0;
}
.search p { 
    margin: 0 auto;
    position: absolute;
    top: 23px;
}

.appointment{
    float: right;
    width: 285px; 
    height: 30px;
    margin: 25px 50px 0 0;
}
.appointment a {     
    display: inline-flex;
    color: #fff;
}
.appointment img {
    width: 18px;
    height: 18px;
    margin: 3px 12px 0 0;
}
.appointment p { 
    margin: 0 auto; 
    position: absolute;
    top: 23px;
}

.search a:hover, .appointment a:hover {
    border-bottom: 2px solid #fff;
}

.menu {
    position: fixed;
    top: 105px;
}
.menu ul {
    width: 100%;
    height: 30px;
    text-align: center; 
}
.menu a {
    color: #fff;
    list-style: none;
    display:inline-flex;
    margin: 0 80px 0 0;
    font-size: 19px;
}
.menu a:last-child { margin-right: 0; }
.menu a:hover { border-bottom: 3px solid #fff; }
.menu li:last-child { margin: 0 }

#dropDownBackground {
    background-color: black;
    opacity: 30%;
    height: 1000px;    
    position: fixed;
    top: 530px;
    display: none;
}

.dropDownMenu {
    width: 100%; 
    height: 360px; 
    border-top: 4px solid #898989;
    color: #fff;
    display: block;
    position: fixed;
    top: 169px;
    display: none;
}

.fullMenu { margin: 30px 334px 80px; }
.fullMenu>li {
    float: left;
    list-style: none;
    margin: 0 45px 20px;
}
.fullMenu>li:first-child { 
    margin: 0 45px 20px -30px; 
}
.fullMenu span { 
    font-size: 18px;
    font-size: 23px; 
    font-weight: 500;
    margin: 0 0 25px 40px;
}

.dept { margin: 25px 0 0 0; }
.dept li{
    line-height: 40px;
    list-style: none;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    opacity: 90%;
    color: #fff;
}

@media only screen and (max-width: 500px) {
    .header_top div h1 {
        font-size: 30px;
        margin: 15px auto 0;        
    }
    .search, .appointment {
        margin: 15px auto 0 15px;
        font-size: 12px;
        width: 250px;
    }
    .search img, .appointment img {
        width: 12px;
        height: 12px;
    }
    .menu ul{ margin: 5px 35px;     }
    .menu li {
        margin: 0 30px 0 0;
        font-size: 12px;
        float: left;
    }
}
/*------ header end ---------------------------------*/


/*------ section start ---------------------------------*/
/*------ section_first start ---------------------------*/
.first {
    text-align: left;
    height: 400px;
    background-image: url(../image/braceletback.JPG);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 170px auto 70px;    
}

.word {
    display: inline-block;
    margin: 110px 0 0 200px;
    text-align: left;
}
.word p { line-height: 10px; }
/*------ section_first end ---------------------------*/

/*------ section_second start ---------------------------*/
.second span {
    text-align: left;
    display: block;
    margin: 0 auto 10px 11.5%;
}

#all { text-decoration: underline; }

.second div { text-align: center; }

.fourImage:last-child a:first-child {
    display: flex;
    margin-left:  11.3%;
}

picture img {
    width: 360px;
    margin: 0 5px 5px 0;
}

#fourLast { margin-right: 0; }

.textPlus { display: flex; }

.textPlus div{ text-align: left; }

.smallText {
    width: 360px;
    margin: 0 10px 10px 11.3%;
}
.smallText h3 {
    padding: 90px 0 10px 20px;
}
.smallText p {
    padding: 0 0 90px 20px;
    width: 280px;
}

.bigTwo {
    display: inline-flex;
    margin: 0 0 0 11.3%;
}

.bigImage img {
    width: 730px;
    height: 730px;
    margin: 0 10px 5px 0;
}

.twoImage picture { display: block; }

.bigText {
    margin: 38px 133px;    
}
.bigText p {
    width: 500px;
    font-size: 28px;
    font-weight: 600;
    margin-top: 75px;
}

.bigFour_two { 
    display: inline-flex;
    margin-left: 11.4%;
}

.twoImage picture { display: block; }

.bigImage {
    background-image: url(../image/body_003.jpg);
    width: 730px;
    height: 730px;
    margin: 0 10px 5px 0;
}
/*------ section_second end ---------------------------*/

/*------ section_third start ---------------------------*/
.third {
    margin: 20px auto 100px;
    text-align: center;
}

.third a:after { 
    width: 137px;
    left: 46.4%;
    margin-top: 3px;
    display:block;
    position: absolute;
    content: '';
    border-bottom: solid 1px #797979;
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}

.third a:hover:after { transform: scaleX(1); }
/*.third a:after{ transform-origin:100% 50%; }
.third a:after{ transform-origin:  0% 50%; }*/

.third span { font-size: 20px; }

.third img {
    width: 15px;
    height: 15px;
    margin: 5px 0 0 15px;
}
/*------ section_third end ---------------------------*/
/*------ section end ---------------------------------*/


/*------ footer start ------------------------*/
footer {
    width: 100%;
    border-top: 18px solid black;
    background-color: #54504d;
    color: #fff;
    font-family: 'Nanum Gothic', sans-serif;
    padding: 10px 10px 25px 0;
}

footer div { display: inline-block; }
footer div:first-child {
    float: left;
    margin: 20px 30px 0 40px;
}
footer div:nth-child(2) { margin: 18px 0 0 50px; }

footer a { color: #fff; }

footer h3 {
    font-weight: 400; 
    margin: 0 auto 20px 40px;
}

footer ul {
    list-style: none;
    font-size: 14px;
    line-height: 40px;
    opacity: 80%;
}

.latest {
    float: right;
    margin: 0 70px;
}
.latest h3 { margin: 15px 0 25px; }
.latest p {
    font-size: 14px;
    line-height: 10px;
    opacity: 80%;
}

#email {
    width: 315px;
    background-color: #54504d;
    border-top-width: 0;
    border-left-width :0;
    border-right-width :0;
    border-bottom: 1px solid #fff;
    margin: 0;
    font-size: 17px;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 200;
}

#getNews {
    border: 1px solid #fff;
    width: 150px;
    height: 30px;
    text-align: center;
    display: block;
    margin: 15px 0 0 0;
}
#getNews p {
    margin: 10px auto;
    font-weight: 400;
    font-size: 15px;
}
/*------ footer end ------------------------*/